In [1]:
 %config Completer.use_jedi = False

In [2]:
# Importing important libraries
import numpy as np
import pandas as pd

In [3]:
# Reading the dataset
df=pd.read_csv('ab_data.csv')

In [4]:
#Info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [5]:
df.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

### First:check for null values in any column

In [6]:
df.isnull().any()
#There is no NULL in any column

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

### Second:Checking for Redundant Data through the specific columns that cannot hold redundant data

In [8]:
df.user_id.value_counts()

805339    2
754884    2
722274    2
783176    2
898232    2
         ..
642985    1
771499    1
923606    1
712675    1
715931    1
Name: user_id, Length: 290584, dtype: int64

In [9]:
#Check which users id are duplicated
df[df.user_id.duplicated()]

        user_id                   timestamp      group landing_page  converted
2656     698120  2017-01-15 17:13:42.602796    control     old_page          0
2893     773192  2017-01-14 02:55:59.590927  treatment     new_page          0
7500     899953  2017-01-07 03:06:54.068237    control     new_page          0
8036     790934  2017-01-19 08:32:20.329057  treatment     new_page          0
10218    633793  2017-01-17 00:16:00.746561  treatment     old_page          0
...         ...                         ...        ...          ...        ...
294308   905197  2017-01-03 06:56:47.488231  treatment     new_page          0
294309   787083  2017-01-17 00:15:20.950723    control     old_page          0
294328   641570  2017-01-09 21:59:27.695711    control     old_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0
294355   744456  2017-01-13 09:32:07.106794  treatment     new_page          0

[3894 rows x 5 columns]

In [10]:
#Printing the column repeated
print(df[df.user_id.duplicated()].count)

<bound method DataFrame.count of         user_id                   timestamp      group landing_page  converted
2656     698120  2017-01-15 17:13:42.602796    control     old_page          0
2893     773192  2017-01-14 02:55:59.590927  treatment     new_page          0
7500     899953  2017-01-07 03:06:54.068237    control     new_page          0
8036     790934  2017-01-19 08:32:20.329057  treatment     new_page          0
10218    633793  2017-01-17 00:16:00.746561  treatment     old_page          0
...         ...                         ...        ...          ...        ...
294308   905197  2017-01-03 06:56:47.488231  treatment     new_page          0
294309   787083  2017-01-17 00:15:20.950723    control     old_page          0
294328   641570  2017-01-09 21:59:27.695711    control     old_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0
294355   744456  2017-01-13 09:32:07.106794  treatment     new_page          0

[3894 rows x 5 columns]>

In [11]:
#Drop the duplicates
df.drop_duplicates(subset='user_id',inplace=True)

In [12]:
#Dropping the duplicate data
df.user_id.value_counts()

851104    1
670761    1
743992    1
945784    1
681915    1
         ..
938536    1
691858    1
642858    1
904523    1
715931    1
Name: user_id, Length: 290584, dtype: int64

### Third : The Data Shouldn’t include users their Groups is ‘treatment’ and the landing page is ‘old_page ‘

In [20]:
#Checking the wrong data existence
treatment_error=df.query('group=="treatment" and landing_page=="old_page"')
treatment_error

Empty DataFrame
Columns: [user_id, timestamp, group, landing_page, converted]
Index: []

In [18]:
df.drop(treatment_error.index,inplace=True)

In [19]:
#Checking for the error 
treatment_error=df.query('group=="treatment" and landing_page=="old_page"')
treatment_error
#No error data remaining

Empty DataFrame
Columns: [user_id, timestamp, group, landing_page, converted]
Index: []

### Now lets explore our data again and check for any previous errors

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289546 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       289546 non-null  int64
 1   timestamp     289546 non-null  object
 2   group         289546 non-null  object
 3   landing_page  289546 non-null  object
 4   converted     289546 non-null  int64
dtypes: int64(2), object(3)
memory usage: 13.3+ MB

In [23]:
df.head(10)

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1
5   936923  2017-01-10 15:20:49.083499    control     old_page          0
6   679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7   719014  2017-01-17 01:48:29.539573    control     old_page          0
8   817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9   839785  2017-01-15 18:11:06.610965  treatment     new_page          1

In [24]:
df.isnull().any()

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

In [26]:
df.duplicated(subset='user_id').sum()

0

In [28]:
df.query('group=="treatment" and landing_page=="old_page"').sum()

user_id         0.0
timestamp       0.0
group           0.0
landing_page    0.0
converted       0.0
dtype: float64

### Fourth The Data Shouldn’t include users their Groups is ‘control’ and the landing page is ‘new_page’

In [37]:
control_error=df.query('group=="control" and landing_page=="new_page"')
control_error

        user_id                   timestamp    group landing_page  converted
22       767017  2017-01-12 22:58:14.991443  control     new_page          0
240      733976  2017-01-11 15:11:16.407599  control     new_page          0
490      808613  2017-01-10 21:44:01.292755  control     new_page          0
846      637639  2017-01-11 23:09:52.682329  control     new_page          1
850      793580  2017-01-08 03:25:33.723712  control     new_page          1
...         ...                         ...      ...          ...        ...
277083   731502  2017-01-16 05:54:36.502340  control     new_page          0
277283   904541  2017-01-24 12:19:25.218304  control     new_page          0
281176   828478  2017-01-13 23:45:27.822482  control     new_page          0
281593   917949  2017-01-15 03:16:02.243648  control     new_page          1
282950   778907  2017-01-04 02:54:16.589129  control     new_page          0

[1006 rows x 5 columns]

In [1]:
control_error.count()

NameError: name 'control_error' is not defined

In [39]:
#Drop The error Data
df.drop(control_error.index,inplace=True)

In [42]:
#Check for the existence of the error again
control_error=df.query('group=="control" and landing_page=="new_page"')
control_error.count()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64