In [1]:
import pandas as pd
import sqlite3

In [3]:
connection=sqlite3.connect('book_list.db')
books_df=pd.read_sql("SELECT * FROM books2",connection)
books_df.to_csv('book_list.csv', index = False)

In [6]:
books_df=pd.read_csv('book_list.csv')
books_df.set_index('ID',inplace=True)
books_df.head(5)

                                                 book category  price  rate
ID
1                             It's Only the Himalayas   Travel  45.17     2
2   Full Moon over Noahâs Ark: An Odyssey to Mou...   Travel  49.43     4
3   See America: A Celebration of Our National Par...   Travel  48.87     3
4   Vagabonding: An Uncommon Guide to the Art of L...   Travel  36.94     2
5                                Under the Tuscan Sun   Travel  37.33     3