In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('covid-19.xlsx')
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [3]:
df['Deaths'].max()

148011

In [9]:
df[df['Country/Region']=='Egypt'][['Country/Region','Deaths','Confirmed','Recovered']]

   Country/Region  Deaths  Confirmed  Recovered
52          Egypt    4652      92482      34838

In [14]:
df[df['Deaths']== df['Deaths'].max()][['Country/Region','Deaths']]

    Country/Region  Deaths
173             US  148011

In [15]:
df.groupby('Country/Region')['Deaths'].mean()

Country/Region
Afghanistan           1269
Albania                144
Algeria               1163
Andorra                 52
Angola                  41
                      ...
West Bank and Gaza      78
Western Sahara           1
Yemen                  483
Zambia                 140
Zimbabwe                36
Name: Deaths, Length: 187, dtype: int64

In [16]:
df['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [17]:
df['WHO Region'].nunique()

6

In [20]:
df['Country/Region'].value_counts().head()

Western Sahara    1
Greece            1
Taiwan*           1
Tajikistan        1
India             1
Name: Country/Region, dtype: int64

In [22]:
df['Deaths'].mean()

3497.51871657754

In [41]:
x =(df['WHO Region']=='Africa') & (df['Deaths'] >2000)
x[x==True].index

Int64Index([154], dtype='int64')

In [44]:
df['Active'].apply(lambda z:z**2).value_counts().head()

0      5
1      3
4      3
441    2
169    2
Name: Active, dtype: int64

***Thank you***