In [1]:
import json
import csv
import requests
import pandas as pd
import numpy as np

In [4]:
sendy_df = pd.read_csv('dastasets/sendy_logistics.csv')
sendy_df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [5]:
json_resp = requests.get('http://api.weatherstack.com/current?access_key=5f0e71b0f4b68eee47b30f2bcaddc112&query=Cairo')
type(json_resp)

requests.models.Response

In [6]:
json_resp.text

'{"request":{"type":"City","query":"Cairo, Egypt","language":"en","unit":"m"},"location":{"name":"Cairo","country":"Egypt","region":"Al Qahirah","lat":"30.050","lon":"31.250","timezone_id":"Africa\\/Cairo","localtime":"2021-11-06 13:06","localtime_epoch":1636203960,"utc_offset":"2.0"},"current":{"observation_time":"11:06 AM","temperature":27,"weather_code":113,"weather_icons":["https:\\/\\/assets.weatherstack.com\\/images\\/wsymbols01_png_64\\/wsymbol_0001_sunny.png"],"weather_descriptions":["Sunny"],"wind_speed":20,"wind_degree":40,"wind_dir":"NE","pressure":1014,"precip":0,"humidity":51,"cloudcover":0,"feelslike":27,"uv_index":8,"visibility":10,"is_day":"yes"}}'

In [7]:
data = json.loads(json_resp.text)

In [8]:
temperature = data['current']['temperature']
temperature

27

In [9]:
sendy_df['Temp_Diff'] =temperature - sendy_df['Temperature']

In [10]:
sendy_df['Temp_Diff']

0         6.6
1         0.6
2         NaN
3         7.8
4        11.6
         ...
21196    -1.6
21197     1.0
21198    -2.2
21199    12.0
21200    -3.9
Name: Temp_Diff, Length: 21201, dtype: float64

In [12]:
sendy_df['Fehr_Temp'] = (sendy_df['Temperature'] * (9/5)) + 32

In [13]:
sendy_df['Fehr_Temp']

0        68.72
1        79.52
2          NaN
3        66.56
4        59.72
         ...
21196    83.48
21197    78.80
21198    84.56
21199    59.00
21200    87.62
Name: Fehr_Temp, Length: 21201, dtype: float64