In [1]:
import pandas as pd
import sqlite3

In [2]:
connection=sqlite3.connect('library_3.db')
books_df=pd.read_sql("SELECT * FROM books",connection)
books_df.to_csv('Books.csv', index = False)

In [10]:
books_df=pd.read_csv('Books.csv')
books_df.set_index('id',inplace=True)
books_df.head(5)

                                                 name  price category  rate
id
1                             It's Only the Himalayas  45.17   Travel     2
2   Full Moon over Noahâs Ark: An Odyssey to Mou...  49.43   Travel     4
3   See America: A Celebration of Our National Par...  48.87   Travel     3
4   Vagabonding: An Uncommon Guide to the Art of L...  36.94   Travel     2
5                                Under the Tuscan Sun  37.33   Travel     3