In [2]:
import pandas as pd
df=pd.read_csv("ab_data.csv")
df.head(10)

   user_id            timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:49    control     old_page          0
1   804228   2017-01-12 8:01:45    control     old_page          0
2   661590  2017-01-11 16:55:06  treatment     new_page          0
3   853541  2017-01-08 18:28:03  treatment     new_page          0
4   864975   2017-01-21 1:52:26    control     old_page          1
5   936923  2017-01-10 15:20:49    control     old_page          0
6   679687   2017-01-19 3:26:47  treatment     new_page          1
7   719014   2017-01-17 1:48:30    control     old_page          0
8   817355  2017-01-04 17:58:09  treatment     new_page          1
9   839785  2017-01-15 18:11:07  treatment     new_page          1

In [4]:
df.isnull().any()

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

In [5]:
(df[df.group=='treatment']['landing_page']=='old_page').sum()

1965

In [6]:
(df[df.group=='control']['landing_page']=='new_page').sum()

1928

In [7]:
(df[df.group=='treatment']['landing_page']=='old_page').sum()+(df[df.group=='control']['landing_page']=='new_page').sum()

3893

In [19]:
df_error = df.query("group == 'treatment' and landing_page=='old_page'")

In [20]:
df_error = df_error.append(df.query("group == 'control' and landing_page=='new_page'"))

In [37]:
df2=df.drop(df_error.index)

In [39]:
df2.drop_duplicates(inplace=True)

In [40]:
df2.user_id.drop_duplicates(inplace=True)

In [41]:
df2.user_id.value_counts()

630732    1
793302    1
840399    1
797392    1
795345    1
         ..
650647    1
648598    1
654741    1
652692    1
630836    1
Name: user_id, Length: 290584, dtype: int64