## Export Database to CSV File and use pandas to read this CSV

### Importing important libraries

In [2]:
import pandas as pd
import sqlite3

### Set connection to the database

In [7]:
connection=sqlite3.connect('Online_Library.db')

### Make a new CSV File and start exporting the data from database into it.

#### First read the Books Table and export the data into Books.CSV

In [10]:
books_df=pd.read_sql("SELECT * FROM Books",connection)

In [11]:
# write DataFrame to CSV file
books_df.to_csv('Books.csv', index = False)

#### Second read the Category Table and export the data into Category.CSV

In [12]:
Category_df=pd.read_sql("SELECT * FROM Category",connection)

In [13]:
# write DataFrame to CSV file
Category_df.to_csv('Category.csv', index = False)

## Read the CSV Files

In [32]:
books_df=pd.read_csv('Books.csv')

In [33]:
books_df.set_index('Book_ID',inplace=True)
books_df.head(5)

,Book_Name,Book_Price,Book_Rate,Category_ID
Book_ID,,,,
1,It's Only the Himalayas,45.17,2,0
2,Full Moon over Noahâs ...,49.43,4,0
3,See America: A Celebration ...,48.87,3,0
4,Vagabonding: An Uncommon Guide ...,36.94,2,0
5,Under the Tuscan Sun,37.33,3,0

In [34]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 957
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book_Name    891 non-null    object
 1   Book_Price   891 non-null    float64
 2   Book_Rate    891 non-null    int64
 3   Category_ID  891 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 34.8+ KB

In [19]:
Category_df=pd.read_csv('Category.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category_id    50 non-null     int64
 1   Category_name  50 non-null     object
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [35]:
Category_df.set_index('Category_id',inplace=True)
Category_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Category_name  50 non-null     object
dtypes: object(1)
memory usage: 800.0+ bytes

In [36]:
Category_df.head(5)

                  Category_name
Category_id
0                        Travel
1                       Mystery
2            Historical Fiction
3                Sequential Art
4                      Classics