# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [1]:
def vol(rad):
    return (4/3)*3.14*(rad**3)

In [2]:
vol(3)

113.03999999999999

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [16]:
def ran_check(num,low = 'low' , high = 'high'):
    if num in range(15,25):
        return low
    if num in range(35,45):
        return high

In [17]:
ran_check(37)

'high'

If you only wanted to return a boolean:

In [24]:
def ran_check_low(num):
    if num in range(15,25):
        return True
    if num in range(35,45):
        return False

In [25]:
ran_check_low(17)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [17]:
def up_low(s):      
    u = sum(1 for i in s if i.isupper())
    l = sum(1 for i in s if i.islower())
    print( "No. of Upper case characters : %s  ,  No. of Lower case characters : %s" % (u,l))

In [16]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters : 4  ,No. of Lower case characters : 33

In [22]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        elif c.islower():
            d["LOWER_CASE"]+=1
        
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('Hello Mr. Rogers, how are you this fine Tuesday?')

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [32]:
def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print(x)

In [33]:
unique([1,1,1,1,2,2,3,3,3,3,4,5])

1
2
3
4
5

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [54]:
def multiply(numbers) :
     
    
    result = 1
    for x in numbers:
         result = result * x
    return result
     

list1 = [1, 2, 3, -4]

multiply(list1)

-24