In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRFRegressor

In [3]:
df=pd.read_csv('data.csv')
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
df.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,2.289400e+04,22894.000000,22894.000000,22894.000000,12804.000000,5576.00000,22894.000000
mean,1.002395e+06,8.196034,0.411068,7.929021,9.823571,12.70373,7617.078580
std,1.325179e+03,6.521526,0.492038,6.467299,5.061771,4.11238,5651.423679
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.00000,12.000000
25%,1.001394e+06,3.000000,0.000000,3.000000,5.000000,9.00000,3472.000000
50%,1.002131e+06,7.000000,0.000000,5.000000,9.000000,14.00000,7118.000000
75%,1.003051e+06,14.000000,1.000000,11.000000,15.000000,16.00000,11396.750000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.00000,23940.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22894 entries, 0 to 22893
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     22894 non-null  int64
 1   Product_ID                  22894 non-null  object
 2   Gender                      22894 non-null  object
 3   Age                         22894 non-null  object
 4   Occupation                  22894 non-null  int64
 5   City_Category               22894 non-null  object
 6   Stay_In_Current_City_Years  22894 non-null  object
 7   Marital_Status              22894 non-null  int64
 8   Product_Category_1          22894 non-null  int64
 9   Product_Category_2          12804 non-null  float64
 10  Product_Category_3          5576 non-null   float64
 11  Purchase                    22894 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 2.1+ MB

In [12]:
df.isnull().sum()

User_ID                           0
Product_ID                        0
Gender                            0
Age                               0
Occupation                        0
City_Category                     0
Stay_In_Current_City_Years        0
Marital_Status                    0
Product_Category_1                0
Product_Category_2            10090
Product_Category_3            17318
Purchase                          0
dtype: int64

In [13]:
df.dropna(subset=['Product_Category_2'],inplace=True)
df.dropna(subset=['Product_Category_3'],inplace=True)

In [14]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [15]:
x=df.drop(['Product_ID', 'Gender', 'City_Category', 'Stay_In_Current_City_Years', 'Age', 'Purchase'], axis=1)
y=df['Purchase']

In [16]:
x_train ,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [18]:
models={
    'LR':LinearRegression(),
    'KNN':KNeighborsRegressor(),
    'SVR':SVR(),
    'DT':DecisionTreeRegressor(),
    'XGBR':XGBRFRegressor(),
    'RF':RandomForestRegressor()
}

In [19]:
for name,model in models.items():
    print(f'using: {name}')
    model.fit(x_train,y_train)
    print(f'Train Accuracy: {model.score(x_train,y_train)}')
    print(f'Test Accuracy: {model.score(x_test,y_test)}')
    print('-'*30,'\n')

using: LR
Train Accuracy: 0.15662651578049946
Test Accuracy: 0.14580932286796677
------------------------------

using: KNN
Train Accuracy: 0.5168636814634499
Test Accuracy: 0.2613243049963295
------------------------------

using: SVR
Train Accuracy: 0.014344595108713443
Test Accuracy: 0.011126061688596312
------------------------------

using: DT
Train Accuracy: 0.9791277019571263
Test Accuracy: -0.01501555019396017
------------------------------

using: XGBR
Train Accuracy: 0.5006485387365793
Test Accuracy: 0.43880072845557805
------------------------------

using: RF
Train Accuracy: 0.9046581719406115
Test Accuracy: 0.4138640477465447
------------------------------

In [24]:
model=DecisionTreeRegressor()
model.fit(x_train, y_train)

DecisionTreeRegressor()

In [25]:
model.score(x_train,y_train)

0.9791277019571263

In [26]:
model.score(x_test,y_test)

0.009203022575020925

In [27]:
import joblib
joblib.dump(model,'model')
joblib.dump(scaler,'scaler')

['scaler']